body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: aquamarine;
}

.wrapper {
    width: 380px;
    padding: 30px;
    border-radius: 7px;
    background: antiquewhite;
}

.wrapper header{
    font-size: 30px;
}

.amount {
    font-size: 20px;
}

